.container{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playlist{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navbar button{
    width: 100px;
    height: 30px;
    font-size: 18px;   
    background-color: #eee;
    border: 0px;
    border-radius: 5%;
}

#searchBtn{
    background-color: skyblue;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    gap : 100px;
}

.card-title{
    font-size: 30px;
}

.col-4{
    margin-top: 100px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.obj{
    width: 100vw;
    height: 97vh;
    overflow: hidden;
    display: block;
}

#containerLogin {
    display: block;
    min-width: 400px;
    margin: 100px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



#signup-container {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    min-width: 800px;
    margin: 100px auto;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

